@model IEnumerable<WebApplication1.Models.Billing>
<table class="table table-bordered" id="myTable">
    <thead>
        <tr>
            <th>Bill_id</th>
            <th>Name</th>
            <th>Control</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            string amount = string.Format("{0:#,0}", (item.Amount == null ? 0 : item.Amount));     // 123,000,000
            <tr>
                <td>@item.Bill_id</td>
                <td>@item.Name</td>
                <td>@item.Control</td>
                <td>@amount</td>
                <td>@item.Date</td>


                <td>
                    <div class="btn-group">
                        <a href="~/Billing/Add/image/@item.imgPath" target="_blank" class="btn btn-primary" id="@item.id">Image</a>
                        <a href="#" class="btn btn-primary BtnEdit" id="@item.id">View</a>
                        @*<a href="@Url.Action("BankPaymentVoucherSubmitByID", "Edit", new { id = item.Bank_ID })" Class="btn btn-primary" pendingRecordId="@item.Bank_ID">Submit</a>*@

                    </div>
                </td>
            </tr>
        }



    </tbody>
</table>



